$colors: (
  neutral: (
    600: hsl(230, 26%, 9%),
    500: hsl(229, 31%, 21%),
    450: hsla(229, 31%, 21%, 0.9),
    400: hsl(229, 8%, 60%),
    350: hsla(229, 8%, 60%, 0.644),
    300: hsl(0, 0%, 86%),
  ),
  primary: (
    500: hsl(0, 94%, 66%),
    400: hsl(231, 69%, 60%),
  ),
);
