$size: (
  small: (
    h1: 2rem,
    h2: 1.75rem,
    h3: 1.5rem,
    h4: 1.5rem,
    h5: 1.5rem,
    h6: 1.5rem,
    p: 1rem,
    a: 0.9rem,
    li: 1.25rem,
    strong: 1.25rem,
    small: 0.9rem,
    button: 1rem,
  ),
  large: (
    h1: 2.5rem,
    h2: 2.25rem,
    h3: 2rem,
    h4: 2rem,
    h5: 2rem,
    h6: 2rem,
    p: 1.125rem,
    a: 1rem,
    li: 1.25rem,
    strong: 1.5rem,
    small: 1rem,
    button: 1rem,
  ),
);

$weight: (
  primary: (
    400: 400,
    500: 500,
  ),
);
