$size: (
  small: (
    h1: 1.5rem,
    h2: 1.15rem,
    h3: 1.18rem,
    h4: 1.12rem,
    h5: 1.18rem,
    h6: 1.12rem,
    p: 0.75rem,
    a: 0.75rem,
    strong: 1rem,
    small: 0.75rem,
  ),
  large: (
    h1: 2.25rem,
    h2: 1.5rem,
    h3: 1.5rem,
    h4: 1.5rem,
    h5: 1.5rem,
    h6: 1.5rem,
    p: 1rem,
    a: 0.75rem,
    strong: 1rem,
    small: 0.75rem,
  ),
);

$weight: (
  primary: (
    400: 400,
    500: 500,
  ),
);
