@use "../abstracts/breakpoints";

.container {
  max-width: 90rem;
  padding-inline: 1.25em;
  margin: 0 auto;
}
.spacer {
  > * + * {
    margin-top: 2em;
  }
}

.btn {
  padding: 1em 1.5em;
  border-radius: 5px;
  font-weight: var(--fw-primary-500);
}
