@mixin btn-red {
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-300);
  border: 0;
  &:hover {
    background-color: transparent;

    color: var(--clr-primary-500);
    outline: 2px solid var(--clr-primary-500);
  }
}

.btn-red {
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-300);
  &:hover {
    background-color: var(--clr-neutral-300);
    box-shadow: none;
    color: var(--clr-primary-500);
    outline: 2px solid var(--clr-primary-500);
  }
}

.btn-blue {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-300);

  &:hover {
    background-color: transparent;

    color: var(--clr-primary-400);
    outline: 2px solid var(--clr-primary-400);
  }
}

.btn-gray {
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-500);

  &:hover {
    background-color: transparent;

    color: var(--clr-neutral-500);
    outline: 2px solid var(--clr-neutral-500);
  }
}

.btn-outline {
  background-color: transparent;
  background-clip: border-box;
  color: var(--clr-neutral-300);
  border: 15px solid var(--clr-neutral-300);
  border-width: 2px;
}
