@use "../abstracts/breakpoints" as *;
main {
  display: grid;
  gap: 6em;
  padding-top: 2.5em;
  margin-bottom: 6em;
  @include breakpoint(large) {
    padding-top: 4em;
    gap: 7em;
    margin-bottom: 7;
  }
}

.hero {
  display: grid;
  grid-auto-flow: row;
  gap: 2.5em;
  &__image {
    grid-row: 1;
  }
  @include breakpoint(large) {
    grid-template-columns: repeat(2, 1fr);

    &__image {
      grid-column: 2;
    }
  }
}

.extension__grid {
  display: grid;
  grid-auto-flow: row;
  gap: 2.5em;
  position: relative;
  padding-inline: 1em;

  &-tab {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    gap: 2em;
  }

  @include breakpoint(large) {
    grid-template-columns: repeat(3, 1fr);

    padding: 2em 9em;

    > div:nth-child(2) {
      position: relative;
      top: 3em;
    }
    > div:nth-child(3) {
      position: relative;
      top: 6em;
    }
  }
}
