main {
  display: grid;
  gap: 6em;
  padding-top: 2.5em;
  margin-bottom: 6em;
}

.hero {
  display: grid;
  grid-auto-flow: row;
  gap: 2.5em;
  &__image {
    grid-row: 1;
  }
}

.extension__grid {
  display: grid;
  grid-auto-flow: row;
  gap: 2.5em;

  padding-inline: 1em;

  &-tab {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    gap: 2em;
  }
}
