@use "../components/buttons" as *;
@use "../abstracts/breakpoints" as *;

.navigation {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  position: relative;
  padding: 1.5em;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  &__menu-icon {
    width: 15px;
  }

  &__menu-container {
    display: none;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    inset: 0 0 -70vh 0;
    background-color: var(--clr-neutral-450);

    padding: 5em 1.5em 1.5em 1.5em;

    z-index: 1;
    ul {
      list-style-type: none;
      text-align: center;

      li:nth-child(4) a {
        display: block;
      }

      li:nth-of-type(-n + 3) {
        &::before {
          content: "";
          border: thin solid var(--clr-neutral-350);
          position: absolute;
          inset: 0 0 auto 0;
        }
      }
      li:nth-child(3) {
        &::after {
          content: "";
          border: 1px solid var(--clr-neutral-350);
          position: absolute;
          inset: auto 0 0 0;
        }
      }

      li:nth-child(4) a {
        @extend .btn-outline;
      }
    }

    &--items {
      position: relative;
      padding-block: 1em;

      a {
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        color: var(--clr-neutral-300);
        font-weight: var(--fw-primary-400);
      }
    }

    &-sm {
      display: flex;
      justify-content: center;
      gap: 1em;
    }
  }
}

.icon-open {
  content: url("../images/icon-close.svg");
}

.logo-open {
  svg {
    g {
      path {
        fill: var(--clr-neutral-300);
      }

      g {
        circle {
          fill: var(--clr-neutral-300);
        }
        path {
          fill: var(--clr-neutral-500);
        }
      }
    }
  }
}

.nav-open {
  display: flex;
}

@include breakpoint(large) {
  .navigation {
    flex-direction: row;
    justify-content: space-between;

    padding-inline: 6em;
    &__menu-icon-container > * {
      display: none;
    }

    &__menu-container {
      display: block;
      position: relative;
      inset: unset;
      padding: 0;
      background-color: transparent;
      ul:nth-child(1) {
        display: flex;
        gap: 2em;

        li:nth-of-type(-n + 3) {
          a {
            color: var(--clr-neutral-500);
            &:hover {
              color: var(--clr-primary-500);
            }
          }
          &::before,
          &::after {
            content: "";
            border: 0;
            position: relative;
            inset: unset;
          }
        }
        li:nth-child(4) a {
          display: inline;
          @include btn-red;
        }
      }
      &-sm {
        display: none;
      }
    }
  }
}
