@use "../components/buttons" as *;
#hamburger {
  display: none;
}
.navigation {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  position: relative;
  padding: 1.5em;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  &__logo {
  }
  &__menu-icon {
    width: 15px;
  }

  &__menu-container {
    display: none;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    inset: 0 0 -50vh 0;
    background-color: var(--clr-neutral-450);

    padding: 5em 1.5em 1.5em 1.5em;
    ul {
      list-style-type: none;
      text-align: center;

      li:nth-child(4) a {
        display: block;
      }

      li:nth-child(1),
      li:nth-child(2),
      li:nth-child(3) {
        &::before {
          content: "";
          border: thin solid var(--clr-neutral-350);
          position: absolute;
          inset: 0 0 auto 0;
        }
      }
      li:nth-child(3) {
        &::after {
          content: "";
          border: 1px solid var(--clr-neutral-350);
          position: absolute;
          inset: auto 0 0 0;
        }
      }

      li:nth-child(4) a {
        @extend .btn-outline;
      }
    }

    &--items {
      position: relative;
      padding-block: 0.75em;

      a {
        text-transform: uppercase;
        color: var(--clr-neutral-300);
        font-weight: var(--fw-primary-500);
      }
    }

    &-sm {
      display: flex;
      justify-content: center;
      gap: 1em;
    }
  }
}

.icon-open {
  content: url("../images/icon-close.svg");
}

.logo-open {
  svg {
    g {
      path {
        fill: var(--clr-neutral-300);
      }

      g {
        circle {
          fill: var(--clr-neutral-300);
        }
        path {
          fill: var(--clr-neutral-500);
        }
      }
    }
  }
}
